<h1>Editing order row</h1>

<%= render "form", order_row: @order_row %>

<br>

<div>
  <%= link_to "Show this order row", @order_row %> |
  <%= link_to "Back to order rows", order_rows_path %>
</div>
