<p style="color: green"><%= notice %></p>

<h1>Order rows</h1>

<div id="order_rows">
<table class="table">
  <tr>
    <th>Order id</th>
    <th>Username</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Action</th>
  </tr>
  <% @order_rows.each do |order_row| %>
    <tr>
      <%= render order_row %>
    </tr>
  <% end %>
</table>
</div>

<%= link_to "New order row", new_order_row_path %>
