<div id="<%= dom_id product_location %>">
  <p>
    <strong>Product:</strong>
    <%= product_location.product_id %>
  </p>

  <p>
    <strong>Warehouse:</strong>
    <%= product_location.warehouse_id %>
  </p>

  <p>
    <strong>Quanity:</strong>
    <%= product_location.quanity %>
  </p>

</div>
