<div id="<%= dom_id product_location %>">
  <p>
    <strong>Product:</strong>
    <%= product_location.product.name %>
  </p>

  <p>
    <strong>Warehouse:</strong>
    <%= product_location.warehouse.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product_location.quantity %>
  </p>

</div>
